@charset "utf-8";
/* CSS Document */
body{
	width: 100%;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
#background-1{
	width: 100%;
	height: 500px;
	margin: -8px;
}
.head{
	margin-top: -500px;
	width: 100%;
	position: absolute;
}
.menu{
	width: 60%;
	float: left;
}
.menu ul, li{
	display: inline-block;
	line-height: 60px;
	height: 60px;
	width: auto;
	position: relative;
	text-align: center;
	padding: 0 35px;
	font-weight: bold;
	font-size: 26px;

}
#sub-menu{
	display: none;
	position: absolute;
	height: 270px;
	width: 250px;
	margin-top: -10px;
}
.menu a:hover{
	text-decoration: underline;
	color: red;
}

.menu li:hover #sub-menu{
	display: block;
	margin-left: -35px;
}
.menu img{
	width: 90px;
	height: 60px;
	margin: -5px -5px;
}
.menu a{
	text-decoration: none;
	color: white;
}
.wellcome{
	position: relative;
	margin-top: -620px;
	text-align: center;
	width: 100%;
	color: rgba(29,193,63,1.00);
}
.move-order{
	position: absolute;
	text-align: center;
	width: 10%;
	padding:0 5px;
	font-size: 25px;
	height: 70px;
	background: rgba(29,193,63,1.00);
	border-radius: 50px;
	margin-left: 45%;
	margin-top: -590px;
	
}
.move-order a{
	text-decoration: none;
	color: wheat;
}
.contact img{
	margin-left: -10px;
	height: 500px;
	margin-top: 110px;
	width: 100%;
}
.contact{
	width: 100%;
	position: absolute;
}
.open-hour{
	width: 30%;
	margin-top: -450px;
	margin-left: 20%;
}
.open-hour p{
	font-size: 20px;
}
#day{
	color: white
}
#hour{
	color: red;
}
#hour-close{
	color: gray;
}
.contact-us{
	margin-top: -380px;
	margin-left: 60%;
}
#contact{
	color: lightslategray;
}