* {
    margin: 0;
    padding: 0;
  }
a{
    text-decoration: none;
}
#Container{
    /* background-color: yellow; */
    margin: 0 auto;
    padding: 0;
    font-family: 'Arial';
    width: 1396px;
    height: 1800px;
    font-size: 20px;
}
#Banner{
    background-color: black;
    width: 100%;
    height: 143px;
}
#Banner img {
    width: 100%;
    height: 100%;
}
#Body{
    /* background-color: yellow; */
    width: 100%;
    height: 70%;
}
#subBody{
    width: 100%;
    height: 90%;
    /* background-color: gray; */
}
#leftBody{
    /* background-color: brown; */
    width: 70%;
    height: 100%;
    float: left;
}
#subLeftBody{
    /* background-color: black; */
    width: 100%;
    height: 300px;
    
}
#subLeftBody1{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
}
#subLeftBody1_2{
    /* background-color: aqua; */
    width: 60%;
    height: 100%;
    float: left;
}
#title{
    color: yellow;
    font-weight: bold;
    font-size: 26px;
}
#subLeftBody1_2 p{
    padding-left: 20px;
}
#subLeftBody1_1{
    /* background-color: red; */
    width: 40%;
    height: 100%;
    float: left;
}
#subLeftBody1_1 img{
    width: 100%;
    height: 100%;
    border: 5px yellow solid;;
}
#subLeftBody2{
    width: 100%;
    height: 100%;
}
#subLeftBody2 img{
    width: 100%;
    height: 100%;
}
#imgTop{
    width: 100%;
    height: 350px;
}
#imgTop img{
    width: 100%;
    height: 347px;
}

#subLeftBody2 li{
    color: yellow;
    margin-top: 10px;
}
#subLeftBody2img {
    background-color: black;
    width: 100%;
    height: 100%;
}
#subLeftBody2img img{
    background-color: black;
    width: 100%;
    height: 100%;
}

#Menu{
    /* background-color: yellow; */
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 124);
    text-align: center;
}
.Menu_Ul{
    padding: 0;
    display: flex;
    list-style-type: none;
    text-align: center;
    float: left;
}
.menu_item{
    position: relative;
    color: #F1F1F1;
    line-height: 40px;
    /* margin-left: -5px; */
    display:inline-block;
    width: 140px;
    height: 31px;
    text-align: center;
    /* padding-top: 10px; */
    /* border: 1px black solid; */
    
}
.menu_item a {
    color: #000;
    display: block;
}
.menu_item img{
    margin-top: 5px;
}
.menu_item a:hover{
    color: f000;
    background-color: rgb(255, 226, 60);
}
.subMenu{
    list-style-type: none;
    width: 300px;
    text-align: left;
    display: none;
    position: absolute;
    /* margin-left: 0 !important; */
    background-color:  rgb(253, 253, 253);
    border: 1px rgb(199, 197, 197) solid;
}
.menu_item:hover .subMenu{
    display: block;
}
#rightBody{
    /* background-color: aqua; */
    width: 26%;
    height: 100%;
    float: left;
    padding-left: 3%;
}
#ThongBao{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: yellow;
}
#ThongBao p{
    /* margin: 0 auto; */
    text-align: center;
    padding: 10px;
}
#rightBodyUL{
    background-color: #F1F1F1;
}
.rightBody_UL{
    color: yellow;
    list-style-type: none;
}
.rightBody_UL li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
}

/* .rightBody_UL a{
    color: blue;
} */

#NganhDT{
    width: 100%;
    height: 200px;
    /* margin-left: 20px; */
    
}
#TuyenSinh{
    margin-top: 40px;
    width: 100%;
    height: 200px;
    /* margin-left: 20px; */
}
#Footer{
    /* background-color: yellow; */
    width: 100%;
    height: 500px
}
#FooterTitle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#Copyright{
    background-color: rgb(252, 252, 165);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#leftBody td{
    padding-right: 200px;
    padding-left: 10px;
    font-weight: bold;
}
#nd{
    list-style: none;
}

.thanhtuu{
    font-size: 16pt;
    color: #d4ac0d;

}
.text2{
    font-weight: bold;
    font-style: italic;
}
#left_menu p{
    margin-bottom: 20px;
}
.ImagesUL{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: px;
}
.ImagesLi{
    float: left;
}
.ImagesLi img{
    margin-bottom   : 30px;
    width: 300px;
    height: 200px;
}
.ImagesLi p{
    margin-bottom   : 30px;

}