*{
    margin: 0;
    padding: 0;
    /* để width và height là kích thước đã bao gồm border và padding. */
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;

}
p{
    font-weight: 300;
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    /* vh bằng 1/100 chiều cao của khung nhìn */
    min-height: 100vh;
    display: flex;
    justify-self: center;
    align-self: center;
    background: url(../images/images/bg.jpg);
    background-attachment: fixed;
    
}