* {
    margin: 0;
    padding: 0;
    /* để width và height là kích thước đã bao gồm border và padding. */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    /* vh bằng 1/100 chiều cao của khung nhìn */
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.banner .content {
    max-width: 900;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #fbff01;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    color: #5e5e5e;
}

.btn:hover {
    letter-spacing: 4px;
    border: 1px solid #fff;
    background: #ff1f01;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: url(../images/bg2.jpg);
    background-size: cover;
}

header .logo div {
    float: left;
}

header .logo img {
    width: 100px;
}

header.sticky {
    background: #fff;
    /*padding: left right top bottom */
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky .logo {
    color: #111;
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .logo span {
    color: #ff0157;
    font-size: 0.8em;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #ff0157;
}

section {
    padding: 100px;
}

.list-menu {
    width: 100px;
    height: 200px;
    border-radius: 3%;
    background-image: linear-gradient(rgb(247, 56, 49), rgb(248, 202, 104));
    top: 130px;
    position: fixed;
    bottom: auto;
    list-style-type: none;
    display: block;
}
.list-menu li {
    margin-top: 5px;
}

.list-menu li a {
    color: #fff;
    text-decoration: none;
}

.list-menu li:hover {
    background-color: #fff;
    cursor: pointer;
}

.list-menu li:hover a {
    color: #ff0517;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu .content .box .text {
    padding: 15px 0 5px;
}

.menu .content .box .text h3 {
    text-align: center;
    font-weight: 400;
    color: f111;
}

.menu .content .box .price {
    padding: 0px 0 15px;
}

.menu .content .box .price h3 {
    text-align: center;
    font-weight: 700;
    color: #ff0517;
}

.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.copyrightText p {
    color: #333;
}

.copyrightText a {
    color: #ff0517;
    font-weight: 500;
    text-decoration: none;
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 991px) {
    header, header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        position: absolute;
        width: 100%;
        height: 40%;
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a {
        color: #111;
        font-size: 1.16em;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url('../images/menu.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active {
        background: url('../images/close.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle {
        filter: invert(1);
    }
}